$color: black;
$red: rgb(224,62,62);
* {
    margin: 0;
    padding: 0;
    letter-spacing: .015em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    strong {
        font-weight: 600;
    }
}
h1, h2, h3, h4, h5, p {
    color: $color;
    line-height: 1;
}
a {
    color: black;
    text-decoration: underline;
    font-weight: 600;
}

html {
    overflow-x: hidden;
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.page-body {
    width: 100vw;
    max-width: 900px;
    box-sizing: border-box;
    padding: 100px;
}
header {
    margin-top: 40px;
    p {
        font-size: 108px;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 72px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        margin: 20px 0 50px 0;
        color: $red;
        a {
            color: $red;
            font-size: 22px;
        }
    }
}
p {
    margin-bottom: 1em;
    line-height: 1.25;
    font-size: 16px;
    a {
        font-weight: 400;
    }
}
.instructors {
    margin: 60px 0;
    #instructors {
        font-size: 30px;
        text-decoration: none;
    }
    hr {
        border: 0px solid #ddd;
        border-top: 1px solid #ddd;
        margin: 30px 0;
    }
    .row {
        display: flex;
        flex-direction: row;
        .column {
            display: flex;
            flex-direction: column;
            img {
                margin-right: 40px;
                width: 140px;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.overview {
    margin: 60px 0;
    h2 {
        padding-bottom: 30px;
    }
    #Overview {
        font-size: 30px;
        text-decoration: none;
    }
    ul {
        padding-left: 40px;
        li {
            margin-bottom: 1em;
        }
    }
}
.schedule {
    margin: 60px 0;
    h2 {
        padding-bottom: 30px;
    }
    #Schedule {
        font-size: 30px;
        text-decoration: none;
    }
    hr {
        border: 0px solid #ddd;
        border-top: 1px solid #ddd;
        margin: 20px 0;
    }
    .indent {
        margin-left: 20px;
    }
}
.enrollment {
    margin: 60px 0;
    h2 {
        padding-bottom: 30px;
    }
    #Enrollment {
        font-size: 30px;
        text-decoration: none;
    }
    hr {
        border: 0px solid #ddd;
        border-top: 1px solid #ddd;
        margin: 20px 0;
    }
}
.interestform {
    font-size: 30px;
}
#bottom {
    opacity: 0.6;
    margin-top: 40px;
}

@media screen and (max-width: 830px) {
    header {
        margin-top: 40px;
        h1 {
            font-size: 60px;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 30px;
        }
        h3 {
            margin: 20px 0 50px 0;
            color: $red;
            a {
                color: $red;
                font-size: 20px;
            }
        }
    }
    .instructors {
        .row {
            flex-direction: column;
            .column {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                img {
                    margin-bottom: 30px;
                    width: 140px;
                }
            }
        }
    }
}

@media screen and (max-width: 750px) {
    header {
        margin-top: 60px;
        h1 {
            font-size: 3em;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 1.5em;
        }
        h3 {
            margin: 20px 0 50px 0;
            color: $red;
            a {
                color: $red;
                font-size: 1em;
                line-height: 1.25;
            }
        }
    }
    .page-body {
        padding: 30px;
    }
}